[submodule "Plugins/UnrealDevMenu"]
	path = Plugins/UnrealDevMenu
	url = https://github.com/laycnc/UnrealDevMenu.git
[submodule "Plugins/UnrealImGui"]
	path = Plugins/UnrealImGui
	url = https://github.com/WiggleWizard/UnrealImGui.git
